################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Buspredict/copilot-chat/2decfad8/sessions
/.vs/Buspredict/CopilotIndices/17.14.1204.46620
/.vs/Buspredict/FileContentIndex
